<div class="dashboard-wrapper" [class.collapsed]="isCollapsed">

  <app-admin-sidenav (toggle)="onToggleSidebar($event)"></app-admin-sidenav>

  <div class="main-section">
    <app-admin-topnav></app-admin-topnav>

    <div class="dashboard-content">

      <div class="dashboard-header">
        <h2>System Overview</h2>
        <div class="dashboard-divider"></div>
      </div>

      <div class="center-wrapper">

        <!-- STAT CARDS -->
        <div class="cards">

          <div class="card card-blue">
            <div class="card-left">
              <div class="card-icon"><i class="fa-solid fa-users"></i></div>
              <span class="card-label">Total Interns</span>
            </div>
            <span class="card-number">{{ totalInterns }}</span>
          </div>

          <div class="card card-orange">
            <div class="card-left">
              <div class="card-icon"><i class="fa-solid fa-user-clock"></i></div>
              <span class="card-label">Pending Applicants</span>
            </div>
            <span class="card-number">{{ pendingApplicants }}</span>
          </div>

          <div class="card card-green">
            <div class="card-left">
              <div class="card-icon"><i class="fa-solid fa-circle-check"></i></div>
              <span class="card-label">Present Today</span>
            </div>
            <span class="card-number">{{ presentToday }}</span>
          </div>

          <div class="card card-red">
            <div class="card-left">
              <div class="card-icon"><i class="fa-solid fa-circle-xmark"></i></div>
              <span class="card-label">Absent Today</span>
            </div>
            <span class="card-number">{{ absentToday }}</span>
          </div>

        </div>

        <!-- WEEKLY ATTENDANCE CHART -->
        <div class="chart-container">
          <h3>Attendance This Week</h3>
          <canvas id="attendanceChart"></canvas>
        </div>

        <!-- BOTTOM CHARTS -->
        <div class="charts-row">
          <div class="chart-container small-chart">
            <h3>Applicants Status</h3>
            <canvas id="applicantsChart"></canvas>
          </div>

          <div class="chart-container small-chart">
            <h3>Time-In Behavior Today</h3>
            <canvas id="timeChart"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>